body {
    background-color: #F9F6F7;
}

/* Format for riding ability text and updated on text (additonal text */

.text-h6 {
    font-size: medium;
    color: #b67e3d
}

/* Logo text and navbar tittle links formatting */

.logo {
    font-family: sans-serif;
    font-size: 41.6px;
    font-weight: 600;
    color: #212529;
    }

.orange-font {
    color: #D59041;
}

.green-font {
    color: #AAAF88;
}

.italic {
    font-style:italic
}

.thin {
    font-weight: 300;
}

.nav-font {
    font-size: 20px;
    position: relative;
    margin-left: 10px;
}

.nav-desc {
    display: flex;
    margin-right: 3vh;
    justify-content: text-end;
}

.nav-font:active,
.nav-font:hover {
    scale: 120%;
    text-decoration: underline;
    text-decoration-color: #D59041;
    display: inline-block;

}


/* Site background colour formatting */

.light-bg {
    background-color: #F9F6F7;
}

.site-bg {
    background-color: #F9F6F7;
}

.main-bg {
    background-color: #F9F6F7;
    border-color: #6E4730    
}

/* Footer Formatting */

footer {
    display: flex;
    display: flex;
    justify-content: center;
    width: 100%;
}

.media-icons {
    display: flex;
    justify-content: center;
    color: #fff;
    gap: 60px;
}

.media-icons a {
    color: #fff;
    text-decoration: None;
}

.media-icons a:hover {
    color: #6E4730;
    transform: scale(0.5);
    transition: transform 0.3s;

}

.footer-container {
    text-align: center;
    width: 100%;
    height: 2.5vh;
    background-color: #D59041;
    position: fixed;
    bottom: 0;
    z-index: 10;
    align-items: center;
}

/* Text of site containers formatting */

.card {
    border: none;
    background-color: transparent;
}

.image-container {
    position: relative;
}

.scale {
    width: 100%;
    height: auto;
}

/* Author text on main page formatting */

.image-flash {
    position: absolute;
    bottom: 5%;
    min-width: 30%;
    left: -2px;
    background-color: #AAAF88;
}

.author {
    color: #fff;
    margin: 4px;
    text-transform: uppercase;
}

/* Formatting for post tittle links, and other links  */
.post-link {
    text-decoration: none;
    color: #6E4730;
}

.post-link:hover,
.page-link {
    color: #D59041;
    background-color: #fff;
    margin-bottom: 6vh;
}

.post-title {
    margin-top: 15%;
    margin-left: 4.5%;
}

.post-subtitle {
    margin-left: 5%;
    color: #6E4730;
}

/* Formatting for link text such colours on all pages */

.link {
    color: #6E4730;
    text-decoration: none;
}

.link-colour {
    color:#D59041;
    text-decoration: none;
}

.link-colour:hover {
    color:#a6b832;
}

.link:hover,
.link:active {
    color: #D59041;
    text-decoration: underline;
}

/* Formatting for post tittle and image on post detail page */

.masthead {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 33vh;
    width: 100%;
}

.masthead-text {
    background-color: #F9F6F7;
    color: #6E4730;
    position: relative;
}

.masthead-image {
    position: relative;
    overflow: hidden;
}

.masthead-image:after {
    content: "";
    position: absolute;
    top: 0;
    right: 90%;
    height: 100%;
    width: 150%;
    background: #F9F6F7;
    -webkit-transform: skew(15deg);
    -moz-transform: skew(15deg);
    transform: skew(10deg);
    z-index: 90;
}

/* Buttons formatting */

.btn-signup,
.btn-edit {
    background-color: #AAAF88;
    color: #fff;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #D59041;
    color: #FFF;
}

.btn-next {
    background-color: #AAAF88;
    color: #fff;
}

.btn-next:hover,
.btn-next:active {
    background-color: #D59041;
    color: #FFF;
}

.btn-like {
    color: #E84610;
    border: none;
    background: transparent;
}

.btn-delete {
    color: #6E4730;
    background: #E84610;
}

.btn-like:hover,
.btn-like:active {
    color: #E84610;
    background: transparent;
    border: none;
}

/* Comment Approval pending formatting */

.faded {
    color: rgb(172, 175, 175);
}

.approval {
    color: rgb(222, 146, 168);
}

/* About Page formatting */

.about-title {
    Font-family: 'Roboto Flex', sans-serif;
    font-weight: 500;
    margin-top: 1px;
    color: #6E4730;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: fit-content;
    width: 100%;
}

.about-underline {
    text-decoration: underline;
    text-decoration-color: #AAAF88;
}
.about-text {
    font-family: 'Roboto Flex', sans-serif;
    background-color: #F9F6F7;
    color: #6E4730;
    position: relative;
}

.about-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    margin: 5px;
    overflow: hidden;
    padding: 20px;
    background: #F9F6F7;
    box-shadow: 0 0 10px #D59041;
    border-radius: 3px;
}

.about-brand-text {
    color: #212529;
    font-family: sans-serif;
    font-size: 25px;
    font-weight: 600;
    text-indent: -2em
}

.img-about {
    border-radius: 30px;
}

/* Formatting for media query on about page */

@media (max-width: 768px) {


    .about-image {
        width: 100%; 
        margin-bottom: 20px; 
        order: -1;
    }
    
    .about-logo {
        align-self: stretch;
        margin-left: 10%;
        order: 0;
    }

    .about-container {
        align-items: center;
        width: 150%;
    }

    .about-text {
        order: 1; 
    }

    .updated-on {
        bottom: 0;
        left: 5;
        margin-left: 3%;
    }

    /* Homepage formatting */

    .nav-desc {
        align-items: center;
        flex-direction: row;
        margin-left: 15px;
    }
}

@media (device-width: 768px) and (device-height: 1024px) and (orientation:portrait) {
    .media-icons a {
        flex-direction: column;
        padding-top: 1vh;
        line-height: 20px;
        scale: 95%
    }

    .footer-container {
        width:100%;
        justify-content: center;
        height: 3vh;
        text-align: center;
     }
                
 }

    /* Footer media query */

@media (max-width: 768px) {
    .media-icons a{
        flex-direction: column;
    } 

    .footer-container{
        width:100%;
        justify-content: center;
        height: 3vh;
        text-align: center;
    }

    .media-icons {
        padding-bottom: 2px;
        padding-top: 2px;
    }
 }