{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<br>
<br>
<h1 class="about-text about-underline text-center">Create</h1>
<h5 class="about-text text-center">Here you can create a new trail route to be viewed on our main page!</h5>
<br>
<div class="container form-container">
  <div class="row">
      <div class="form-container text-center">

        <form enctype="multipart/form-data" action="{% url 'create_post'%}" method="post" class="about-container  about-text  ">
          {% csrf_token %}
          <div>
            {{ form.title|as_crispy_field }}
          </div>
          <div>
            {{ form.suggested_riding_ability|as_crispy_field }}
          </div>
          <div>
            {{ form.featured_image|as_crispy_field }}
          </div>
          <div>
            {{ form.content|as_crispy_field }}
          </div>
          <div>
            {{ form.county|as_crispy_field }}
          </div>
          <div>
            {{ form.excerpt|as_crispy_field }}
          </div>
          <button class= "btn btn-secondary" type="submit">Create</button>
        </form>
      </div>
      <div class="faded text-center">
          <p>
            All new posts are subject to admin review, we look forward to your new post and want to thank you for your intent to contribute to our community!
          </p>
        </div>
  </div>
</div>
<br>
<br>
{% endblock %}