{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<br>
<br>
<h1 class="about-text about-underline text-center">Contact Us</h1>
<br>
<div class="container form-container">
  <div class="row">
      <div class="form-container text-center">

        <form enctype="multipart/form-data" action="{% url 'contact_us' %}" method="post" class="about-container  about-text" >
          {% csrf_token %}
          <div>
            {{ form.query_title|as_crispy_field }}
          </div>
          <div>
            {{ form.query_image|as_crispy_field }}
          </div>
          <div>
            {{ form.content|as_crispy_field }}
          </div>
          <button class= "btn btn-secondary" type="submit" class="form-btn">Submit</button>
        </form>
      </div>
      <div class="faded text-center">
          <p>
            All new queries are reviewed by our admin team, we look forwward to hearing from you and want to thank you for your consideration!
          </p>
        </div>
  </div>
</div>
<br>
<br>
  <!-- Display the user's submissions -->
{% if submissions %}
  <div class="container">
    <h3>Your Contact Us Submissions:</h3>
      <div class="row">
        {% for submission in submissions %}
          <div class="col-md-8 card mb-4 mt-3">
            <div class="card-body">
              <h5>{{ submission.query_title }}</h5>
              <p>{{ submission.content }}</p>
              {% if submission.query_image %}
              <img src="{{ submission.query_image.url }}" alt="Image" class="img-fluid">
              {% endif %}
              <p><strong>Status:</strong> {{ submission.get_resolved_display }}</p>
              {% if submission.admin_response %}
                <p><strong>Admin Response:</strong> {{ submission.admin_response }}</p>
              {% endif %}
              <a href="{% url 'edit_submission' submission.id %}" class="btn btn-primary">Edit</a>
              <a href="{% url 'confirm_delete' submission.id %}" class="btn btn-danger">Delete</a>
            </div>
          </div>
        {% endfor %}
      </div>
    {% else %}
      <p>You haven't submitted any contact us queries yet.</p>
    {% endif %}
  </div>

</div>
<br>
<br>
{% endblock %}