{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<br>
<br>
<h1 class="about-text about-underline text-center">Suggest a New Post!</h1>
<br>
<div class="container form-container">
  <div class="row">
      <div class="form-container text-center">

        <form enctype="multipart/form-data" action="{% url 'suggest' %}" method="post" class="about-container about-text">
          {% csrf_token %}
          <div>
            {{ create_post_form.title|as_crispy_field }}
          </div>
          <div>
            {{ create_post_form.suggested_riding_ability|as_crispy_field }}
          </div>
          <div>
            {{ create_post_form.featured_image|as_crispy_field }}
          </div>
          <div>
            {{ create_post_form.content|as_crispy_field }}
          </div>
          <div>
            {{ create_post_form.excerpt|as_crispy_field }}
          </div>
          <div>
            {{ create_post_form.county|as_crispy_field }}
          </div>
          <button class= "btn btn-secondary" type="submit">Submit</button>
        </form>
      </div>
      <div class="faded text-center">
          <p>
            All new queries are reviewed by our admin team, we look forwward to hearing from you and want to thank you for your consideration!
          </p>
      </div>
  </div>
</div>
<br>
<br>
{% endblock %}